In [13]:
import pandas as pd
import numpy as np
import altair as alt
import matplotlib.pyplot as plt

In [14]:
apts = pd.read_csv('data/apts_2025_raw.csv')

In [15]:
apts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5697 entries, 0 to 5696
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   zpid            5697 non-null   int64
 1   address         5697 non-null   object
 2   cityname        5697 non-null   object
 3   state           5697 non-null   object
 4   zipcode         5697 non-null   int64
 5   latitude        5695 non-null   float64
 6   longitude       5695 non-null   float64
 7   title           5665 non-null   object
 8   listing_status  243 non-null    object
 9   square_feet     218 non-null    float64
 10  min_price       5697 non-null   int64
 11  max_price       5697 non-null   int64
 12  bedrooms        5697 non-null   int64
dtypes: float64(3), int64(5), object(5)
memory usage: 578.7+ KB

In [16]:
apts.describe()

,zpid,zipcode,latitude,longitude,square_feet,min_price,max_price,bedrooms
count,5.697000e+03,5697.000000,5695.000000,5695.000000,218.000000,5697.000000,5697.000000,5697.000000
mean,1.129493e+09,58192.115148,37.298563,-95.066061,842.366972,2024.454625,2757.879410,1.634018
std,8.080543e+08,27063.097364,5.286780,15.875965,602.947211,1873.434672,2179.815518,0.954359
min,3.962860e+05,1730.000000,21.265455,-158.187420,163.000000,579.000000,637.000000,0.000000
25%,4.538658e+08,33132.000000,33.647275,-104.960266,575.250000,1435.000000,1905.000000,1.000000
50%,4.586784e+08,63017.000000,38.848396,-91.268190,736.500000,1770.000000,2386.000000,2.000000
75%,2.067666e+09,80231.000000,40.045193,-82.491890,1006.000000,2292.000000,3089.000000,2.000000
max,2.130354e+09,99354.000000,48.862100,-70.302360,7860.000000,120000.000000,120000.000000,7.000000

In [17]:
idxs = apts['max_price'].nlargest(50).index

In [18]:
apts.loc[idxs]

,zpid,address,cityname,state,zipcode,latitude,longitude,title,listing_status,square_feet,min_price,max_price,bedrooms
5643,610631,4727 Kahala Ave #A,Honolulu,HI,96816,21.265455,-157.780490,NaN,forRent,7860.0,120000,120000,7
5665,654281,59-571 Ke Iki Rd,Haleiwa,HI,96712,21.655529,-158.059890,NaN,forRent,2600.0,30000,30000,4
2289,2058434861,11600 Dunstan Way,Los Angeles,CA,90049,34.059753,-118.467384,Respara Brentwood,NaN,NaN,7059,19000,1
2290,2058434861,11600 Dunstan Way,Los Angeles,CA,90049,34.059753,-118.467384,Respara Brentwood,NaN,NaN,12424,19000,2
2291,2058434861,11600 Dunstan Way,Los Angeles,CA,90049,34.059753,-118.467384,Respara Brentwood,NaN,NaN,19000,19000,3
2661,2054447075,100 Park Plz,San Diego,CA,92101,32.706615,-117.155090,Park 12 - The Collection,NaN,NaN,2245,16536,0
2662,2054447075,100 Park Plz,San Diego,CA,92101,32.706615,-117.155090,Park 12 - The Collection,NaN,NaN,2658,16536,1
2663,2054447075,100 Park Plz,San Diego,CA,92101,32.706615,-117.155090,Park 12 - The Collection,NaN,NaN,3373,16536,2
2664,2054447075,100 Park Plz,San Diego,CA,92101,32.706615,-117.155090,Park 12 - The Collection,NaN,NaN,4659,16536,3
2525,458696340,750 W Fir St,San Diego,CA,92101,32.724453,-117.169070,The Q Lofts,NaN,NaN,3295,14995,1
2526,458696340,750 W Fir St,San Diego,CA,92101,32.724453,-117.169070,The Q Lofts,NaN,NaN,5295,14995,2
2527,458696340,750 W Fir St,San Diego,CA,92101,32.724453,-117.169070,The Q Lofts,NaN,NaN,11995,14995,4
3447,2057810243,1134 Sansom St,Philadelphia,PA,19107,39.949432,-75.159660,Jessup House,NaN,NaN,1873,14995,0
3448,2057810243,1134 Sansom St,Philadelphia,PA,19107,39.949432,-75.159660,Jessup House,NaN,NaN,2027,14995,1
3449,2057810243,1134 Sansom St,Philadelphia,PA,19107,39.949432,-75.159660,Jessup House,NaN,NaN,3271,14995,2
3450,2057810243,1134 Sansom St,Philadelphia,PA,19107,39.949432,-75.159660,Jessup House,NaN,NaN,7095,14995,3
5263,458708936,1950 Mayfair St,Naples,FL,34112,26.137802,-81.779870,Ascent at Metropolitan Naples,NaN,NaN,2271,14900,0
5264,458708936,1950 Mayfair St,Naples,FL,34112,26.137802,-81.779870,Ascent at Metropolitan Naples,NaN,NaN,2538,14900,1
5265,458708936,1950 Mayfair St,Naples,FL,34112,26.137802,-81.779870,Ascent at Metropolitan Naples,NaN,NaN,3621,14900,2
5266,458708936,1950 Mayfair St,Naples,FL,34112,26.137802,-81.779870,Ascent at Metropolitan Naples,NaN,NaN,4683,14900,3
2445,453538753,350 N Palm Dr,Beverly Hills,CA,90210,34.075070,-118.391870,Palma Beverly Hills,NaN,NaN,11700,14729,2
2999,2069267211,3000 Gracie Kiltz Ln,Austin,TX,78758,30.394894,-97.722855,The Bowen,NaN,NaN,2045,13765,1
3000,2069267211,3000 Gracie Kiltz Ln,Austin,TX,78758,30.394894,-97.722855,The Bowen,NaN,NaN,3415,13765,2
3001,2069267211,3000 Gracie Kiltz Ln,Austin,TX,78758,30.394894,-97.722855,The Bowen,NaN,NaN,13765,13765,3
5095,2052865732,8119 Douglas Ave,Dallas,TX,75225,32.861305,-96.810234,8119 Douglas,NaN,NaN,4050,12275,1
5096,2052865732,8119 Douglas Ave,Dallas,TX,75225,32.861305,-96.810234,8119 Douglas,NaN,NaN,5950,12275,2
4810,448991807,144 W Erie St,Chicago,IL,60654,41.894310,-87.633180,THE RHONE featuring the Saone Penthouse Collec...,NaN,NaN,9510,11500,3
5579,458700316,1 Riva Row,Spring,TX,77380,30.159336,-95.462700,1 Riva Row,NaN,NaN,2074,10951,0
5580,458700316,1 Riva Row,Spring,TX,77380,30.159336,-95.462700,1 Riva Row,NaN,NaN,2244,10951,1
5581,458700316,1 Riva Row,Spring,TX,77380,30.159336,-95.462700,1 Riva Row,NaN,NaN,3608,10951,2
5582,458700316,1 Riva Row,Spring,TX,77380,30.159336,-95.462700,1 Riva Row,NaN,NaN,6640,10951,3
3617,457215365,201 Oak Ave,Ithaca,NY,14850,42.442207,-76.482770,THE SUMMIT at 201 OAK AVENUE,NaN,NaN,2395,10800,0
3618,457215365,201 Oak Ave,Ithaca,NY,14850,42.442207,-76.482770,THE SUMMIT at 201 OAK AVENUE,NaN,NaN,2595,10800,1
3619,457215365,201 Oak Ave,Ithaca,NY,14850,42.442207,-76.482770,THE SUMMIT at 201 OAK AVENUE,NaN,NaN,3795,10800,2
3620,457215365,201 Oak Ave,Ithaca,NY,14850,42.442207,-76.482770,THE SUMMIT at 201 OAK AVENUE,NaN,NaN,4560,10800,3
3621,457215365,201 Oak Ave,Ithaca,NY,14850,42.442207,-76.482770,THE SUMMIT at 201 OAK AVENUE,NaN,NaN,7970,10800,4
3622,457215365,201 Oak Ave,Ithaca,NY,14850,42.442207,-76.482770,THE SUMMIT at 201 OAK AVENUE,NaN,NaN,9455,10800,5
3623,457215365,201 Oak Ave,Ithaca,NY,14850,42.442207,-76.482770,THE SUMMIT at 201 OAK AVENUE,NaN,NaN,10800,10800,6
1675,2075193551,949 Marine St,Boulder,CO,80302,40.012490,-105.281960,View House,NaN,NaN,2450,10635,1
1676,2075193551,949 Marine St,Boulder,CO,80302,40.012490,-105.281960,View House,NaN,NaN,1800,10635,2
1677,2075193551,949 Marine St,Boulder,CO,80302,40.012490,-105.281960,View House,NaN,NaN,4600,10635,3
1678,2075193551,949 Marine St,Boulder,CO,80302,40.012490,-105.281960,View House,NaN,NaN,10635,10635,6
3555,442530387,555 Stewart Ave,Garden City,NY,11530,40.731660,-73.613430,Florent,NaN,NaN,5695,10215,2
3556,442530387,555 Stewart Ave,Garden City,NY,11530,40.731660,-73.613430,Florent,NaN,NaN,9750,10215,3
209,446203611,170 W Independence Mall S,Philadelphia,PA,19106,39.948180,-75.151810,Lyndon at the Curtis,NaN,NaN,2300,10000,1
210,446203611,170 W Independence Mall S,Philadelphia,PA,19106,39.948180,-75.151810,Lyndon at the Curtis,NaN,NaN,3600,10000,2
211,446203611,170 W Independence Mall S,Philadelphia,PA,19106,39.948180,-75.151810,Lyndon at the Curtis,NaN,NaN,7150,10000,3
2535,2080408034,1120 S Grand Ave,Los Angeles,CA,90015,34.040516,-118.262440,AVEN,NaN,NaN,2706,10000,0
2536,2080408034,1120 S Grand Ave,Los Angeles,CA,90015,34.040516,-118.262440,AVEN,NaN,NaN,2651,10000,1
2537,2080408034,1120 S Grand Ave,Los Angeles,CA,90015,34.040516,-118.262440,AVEN,NaN,NaN,3652,10000,2

Maybe clean outliers. Will check others parts of data before committing.

In [19]:
# remove listing_status because mostly NaN and irrelevant (all should be forRent)
apts.drop(columns=['listing_status'])

,zpid,address,cityname,state,zipcode,latitude,longitude,title,square_feet,min_price,max_price,bedrooms
0,2103196446,3221 Spring Garden St,Philadelphia,PA,19104,39.963623,-75.18942,The Residences At 3221,NaN,1625,1650,1
1,456195501,181 Whitewood Rd,Charlottesville,VA,22901,38.073997,-78.49341,Park's Edge Apartments,NaN,1093,1498,1
2,456195501,181 Whitewood Rd,Charlottesville,VA,22901,38.073997,-78.49341,Park's Edge Apartments,NaN,1498,1498,3
3,458684899,6050 Edgeware Ln,Alexandria,VA,22315,38.763200,-77.13955,Windsor Kingstowne,NaN,2303,2908,1
4,458684899,6050 Edgeware Ln,Alexandria,VA,22315,38.763200,-77.13955,Windsor Kingstowne,NaN,2561,2908,2
...,...,...,...,...,...,...,...,...,...,...,...,...
5692,452016081,1427 Ernest St,Honolulu,HI,96822,21.305540,-157.84510,1427 Ernest,NaN,1796,1796,0
5693,456931480,828 Waiaka Pl #86D051593,Honolulu,HI,96826,21.288483,-157.81987,"829 Waiaka, 2Bed",653.0,2400,2400,2
5694,440375256,1226 Kinau St #303,Honolulu,HI,96814,21.302372,-157.84195,"1226 Kinau, 303",239.0,1975,1975,0
5695,447666734,99-009 Kalaloa St #8E28C4E12,Aiea,HI,96701,21.365606,-157.93646,"Naulu, Studio",NaN,637,637,0
5696,457179360,231 Lehua St #A217FA1C2,Wahiawa,HI,96786,21.499287,-158.02794,"231 Lehua St, 1Pkg",400.0,1200,1200,0

Keep the small amount of square feet samples just in case they can be helpful.

In [20]:
# check the latitude/longitude NaNs
apts[apts['latitude'].isna()]

,zpid,address,cityname,state,zipcode,latitude,longitude,title,listing_status,square_feet,min_price,max_price,bedrooms
5639,306378433,(undisclosed Address),Hauula,HI,96717,NaN,NaN,NaN,forRent,NaN,8190,8190,1
5683,2098378908,(undisclosed Address),Kapolei,HI,96707,NaN,NaN,NaN,forRent,1100.0,4800,4800,2

In [21]:
# because we have cityname and state for each, we can gather the lat/long data and manually apply it
apts.loc[[5639, 5683], ['latitude', 'longitude']] = [[21.6076, -157.9087], [21.3351, -158.0556]]

In [24]:
# check the changes
apts.loc[[5639, 5683]]

,zpid,address,cityname,state,zipcode,latitude,longitude,title,listing_status,square_feet,min_price,max_price,bedrooms
5639,306378433,(undisclosed Address),Hauula,HI,96717,21.6076,-157.9087,NaN,forRent,NaN,8190,8190,1
5683,2098378908,(undisclosed Address),Kapolei,HI,96707,21.3351,-158.0556,NaN,forRent,1100.0,4800,4800,2

In [27]:
# we can drop listing_status because the column is all 'forRent' 
# confident of this because I scraped the data specifically for rentals
apts = apts.drop(columns=['listing_status'])

In [28]:
apts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5697 entries, 0 to 5696
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   zpid         5697 non-null   int64
 1   address      5697 non-null   object
 2   cityname     5697 non-null   object
 3   state        5697 non-null   object
 4   zipcode      5697 non-null   int64
 5   latitude     5697 non-null   float64
 6   longitude    5697 non-null   float64
 7   title        5665 non-null   object
 8   square_feet  218 non-null    float64
 9   min_price    5697 non-null   int64
 10  max_price    5697 non-null   int64
 11  bedrooms     5697 non-null   int64
dtypes: float64(3), int64(5), object(4)
memory usage: 534.2+ KB

In [29]:
# title NaNs not concerned with, thus can keep
# square feet NaNs is unfortunate because scraped data didn't have it for all rows

In [42]:
# check distribution of price columns to investigate what is a better proxy for overall price
apts.head(20)

,zpid,address,cityname,state,zipcode,latitude,longitude,title,square_feet,min_price,max_price,bedrooms
0,2103196446,3221 Spring Garden St,Philadelphia,PA,19104,39.963623,-75.18942,The Residences At 3221,NaN,1625,1650,1
1,456195501,181 Whitewood Rd,Charlottesville,VA,22901,38.073997,-78.49341,Park's Edge Apartments,NaN,1093,1498,1
2,456195501,181 Whitewood Rd,Charlottesville,VA,22901,38.073997,-78.49341,Park's Edge Apartments,NaN,1498,1498,3
3,458684899,6050 Edgeware Ln,Alexandria,VA,22315,38.763200,-77.13955,Windsor Kingstowne,NaN,2303,2908,1
4,458684899,6050 Edgeware Ln,Alexandria,VA,22315,38.763200,-77.13955,Windsor Kingstowne,NaN,2561,2908,2
5,458224016,3603 Glengyle Ave,Baltimore,MD,21215,39.366535,-76.70577,Samester Apartments,NaN,1240,1405,1
6,458224016,3603 Glengyle Ave,Baltimore,MD,21215,39.366535,-76.70577,Samester Apartments,NaN,1310,1405,2
7,458666037,2400 16th St NW,Washington,DC,20009,38.921380,-77.03756,The Envoy,NaN,1780,2725,0
8,458666037,2400 16th St NW,Washington,DC,20009,38.921380,-77.03756,The Envoy,NaN,2280,2725,1
9,458666037,2400 16th St NW,Washington,DC,20009,38.921380,-77.03756,The Envoy,NaN,2725,2725,2
10,2080909099,9004 Prince William St,Manassas,VA,20110,38.750282,-77.46712,Manassas Station,NaN,1864,2765,1
11,2080909099,9004 Prince William St,Manassas,VA,20110,38.750282,-77.46712,Manassas Station,NaN,2440,2765,2
12,458696686,260 Ensemble Way,Frederick,MD,21701,39.417233,-77.38772,The Foundry at Renn Quarter,NaN,3250,3675,3
13,2071732416,1830 Lombard St,Philadelphia,PA,19146,39.945427,-75.17300,The Pepper Building,NaN,1949,3196,1
14,2071732416,1830 Lombard St,Philadelphia,PA,19146,39.945427,-75.17300,The Pepper Building,NaN,3031,3196,2
15,2092700575,2324 41st St NW,Washington,DC,20007,38.921467,-77.08102,Park Crest Apartments,NaN,1466,2682,0
16,2092700575,2324 41st St NW,Washington,DC,20007,38.921467,-77.08102,Park Crest Apartments,NaN,1871,2682,1
17,2092700575,2324 41st St NW,Washington,DC,20007,38.921467,-77.08102,Park Crest Apartments,NaN,2563,2682,2
18,458691371,202 N Queen St,Lancaster,PA,17603,40.041393,-76.30676,202 Queen,NaN,1519,2399,0
19,458691371,202 N Queen St,Lancaster,PA,17603,40.041393,-76.30676,202 Queen,NaN,1549,2399,1

Simply by observation, we can see that there are multiple addresses for some properties, meaning that they have multiple units available with varying bedroom amount. This is why there is a max price vs min price. It can clearly be seen that the min price is the relevant column that denotes the price for the amount of bedrooms, e.g., if it is a 1 bedroom unit and the building goes up to 3 bedroom units, the min price would be substantially lower than the max price because the max price represents the 3 bedroom unit. Therefore, when using price to compare against the apartment listings from 2019, we should be using min_price rather than max_price.  

I will remove max price and keep min price but change it to just 'price' to represent this.

In [43]:
# drop max_price and change min_price to 'price'
apts = apts.drop(columns=['max_price'])
apts = apts.rename(columns={'min_price': 'price'})

In [45]:
apts.head()

,zpid,address,cityname,state,zipcode,latitude,longitude,title,square_feet,price,bedrooms
0,2103196446,3221 Spring Garden St,Philadelphia,PA,19104,39.963623,-75.18942,The Residences At 3221,NaN,1625,1
1,456195501,181 Whitewood Rd,Charlottesville,VA,22901,38.073997,-78.49341,Park's Edge Apartments,NaN,1093,1
2,456195501,181 Whitewood Rd,Charlottesville,VA,22901,38.073997,-78.49341,Park's Edge Apartments,NaN,1498,3
3,458684899,6050 Edgeware Ln,Alexandria,VA,22315,38.763200,-77.13955,Windsor Kingstowne,NaN,2303,1
4,458684899,6050 Edgeware Ln,Alexandria,VA,22315,38.763200,-77.13955,Windsor Kingstowne,NaN,2561,2

In [46]:
apts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5697 entries, 0 to 5696
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   zpid         5697 non-null   int64
 1   address      5697 non-null   object
 2   cityname     5697 non-null   object
 3   state        5697 non-null   object
 4   zipcode      5697 non-null   int64
 5   latitude     5697 non-null   float64
 6   longitude    5697 non-null   float64
 7   title        5665 non-null   object
 8   square_feet  218 non-null    float64
 9   price        5697 non-null   int64
 10  bedrooms     5697 non-null   int64
dtypes: float64(3), int64(4), object(4)
memory usage: 489.7+ KB

In [47]:
apts.to_csv('data/apts_2025_clean.csv', index=False, encoding="utf-8")