In [20]:
import geopandas as gpd
from shapely.geometry import Point
import pandas as pd

Downloaded a ZIP code tabulation area GeoJSON from the US Census to get the zipcodes from using the latitude and longitude.

In [21]:
zcta = gpd.read_file("tl_2020_us_zcta510.shp")

In [22]:
df = pd.read_csv('apts_2019_clean.csv')

In [23]:
df["geometry"] = gpd.points_from_xy(df['longitude'], df['latitude'])
gdf = gpd.GeoDataFrame(df, geometry="geometry", crs="EPSG:4326")

In [24]:
zcta.columns

Index(['ZCTA5CE10', 'GEOID10', 'CLASSFP10', 'MTFCC10', 'FUNCSTAT10', 'ALAND10',
       'AWATER10', 'INTPTLAT10', 'INTPTLON10', 'geometry'],
      dtype='object')

In [25]:
zcta = zcta.to_crs(epsg=4326)

In [26]:
result = gpd.sjoin(gdf, zcta[["ZCTA5CE10", "geometry"]], how="left", predicate="within")

In [27]:
result = result.rename(columns={"ZCTA5CE10": "zipcode"})

In [28]:
result.head()

,id,category,title,body,amenities,bathrooms,bedrooms,has_photo,pets_allowed,price,...,square_feet,address,cityname,state,latitude,longitude,time,geometry,index_right,zipcode
0,5668626895,housing/rent/apartment,"Studio apartment 2nd St NE, Uhland Terrace NE,...","This unit is located at second St NE, Uhland T...",NaN,NaN,0.0,Thumbnail,NaN,790,...,101,NaN,Washington,DC,38.9057,-76.9861,1577359415,POINT (-76.9861 38.9057),24709.0,20002
1,5664597177,housing/rent/apartment,Studio apartment 814 Schutte Road,"This unit is located at 814 Schutte Road, Evan...",NaN,NaN,1.0,Thumbnail,NaN,425,...,106,814 Schutte Rd,Evansville,IN,37.9680,-87.6621,1577017063,POINT (-87.6621 37.968),16134.0,47712
2,5668626833,housing/rent/apartment,"Studio apartment N Scott St, 14th St N, Arling...","This unit is located at N Scott St, 14th St N,...",NaN,1.0,0.0,Thumbnail,NaN,1390,...,107,NaN,Arlington,VA,38.8910,-77.0816,1577359410,POINT (-77.0816 38.891),23402.0,22201
3,5659918074,housing/rent/apartment,Studio apartment 1717 12th Ave,"This unit is located at 1717 12th Ave, Seattle...",NaN,1.0,0.0,Thumbnail,NaN,925,...,116,1717 12th Avenue,Seattle,WA,47.6160,-122.3275,1576667743,POINT (-122.3275 47.616),19581.0,98122
4,5668626759,housing/rent/apartment,"Studio apartment Washington Blvd, N Cleveland ...","This unit is located at Washington Blvd, N Cle...",NaN,NaN,0.0,Thumbnail,NaN,880,...,125,NaN,Arlington,VA,38.8738,-77.1055,1577359401,POINT (-77.1055 38.8738),23408.0,22203

In [30]:
result = result.drop(columns=["index_right", "geometry"])

In [31]:
result.head()

,id,category,title,body,amenities,bathrooms,bedrooms,has_photo,pets_allowed,price,price_type,square_feet,address,cityname,state,latitude,longitude,time,zipcode
0,5668626895,housing/rent/apartment,"Studio apartment 2nd St NE, Uhland Terrace NE,...","This unit is located at second St NE, Uhland T...",NaN,NaN,0.0,Thumbnail,NaN,790,Monthly,101,NaN,Washington,DC,38.9057,-76.9861,1577359415,20002
1,5664597177,housing/rent/apartment,Studio apartment 814 Schutte Road,"This unit is located at 814 Schutte Road, Evan...",NaN,NaN,1.0,Thumbnail,NaN,425,Monthly,106,814 Schutte Rd,Evansville,IN,37.9680,-87.6621,1577017063,47712
2,5668626833,housing/rent/apartment,"Studio apartment N Scott St, 14th St N, Arling...","This unit is located at N Scott St, 14th St N,...",NaN,1.0,0.0,Thumbnail,NaN,1390,Monthly,107,NaN,Arlington,VA,38.8910,-77.0816,1577359410,22201
3,5659918074,housing/rent/apartment,Studio apartment 1717 12th Ave,"This unit is located at 1717 12th Ave, Seattle...",NaN,1.0,0.0,Thumbnail,NaN,925,Monthly,116,1717 12th Avenue,Seattle,WA,47.6160,-122.3275,1576667743,98122
4,5668626759,housing/rent/apartment,"Studio apartment Washington Blvd, N Cleveland ...","This unit is located at Washington Blvd, N Cle...",NaN,NaN,0.0,Thumbnail,NaN,880,Monthly,125,NaN,Arlington,VA,38.8738,-77.1055,1577359401,22203

In [32]:
result.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9612 entries, 0 to 9611
Data columns (total 19 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            9612 non-null   int64
 1   category      9612 non-null   object
 2   title         9612 non-null   object
 3   body          9612 non-null   object
 4   amenities     6301 non-null   object
 5   bathrooms     9582 non-null   float64
 6   bedrooms      9606 non-null   float64
 7   has_photo     9612 non-null   object
 8   pets_allowed  5637 non-null   object
 9   price         9612 non-null   int64
 10  price_type    9612 non-null   object
 11  square_feet   9612 non-null   int64
 12  address       6346 non-null   object
 13  cityname      9612 non-null   object
 14  state         9612 non-null   object
 15  latitude      9612 non-null   float64
 16  longitude     9612 non-null   float64
 17  time          9612 non-null   int64
 18  zipcode       9605 non-null   object
dtypes: float64(4), int64(4), object(11)
memory usage: 1.5+ MB

In [33]:
apts = pd.DataFrame(result)

In [34]:
apts.to_csv('apts_2019_clean.csv', index=False, encoding='utf8')

In [35]:
apts.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9612 entries, 0 to 9611
Data columns (total 19 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            9612 non-null   int64
 1   category      9612 non-null   object
 2   title         9612 non-null   object
 3   body          9612 non-null   object
 4   amenities     6301 non-null   object
 5   bathrooms     9582 non-null   float64
 6   bedrooms      9606 non-null   float64
 7   has_photo     9612 non-null   object
 8   pets_allowed  5637 non-null   object
 9   price         9612 non-null   int64
 10  price_type    9612 non-null   object
 11  square_feet   9612 non-null   int64
 12  address       6346 non-null   object
 13  cityname      9612 non-null   object
 14  state         9612 non-null   object
 15  latitude      9612 non-null   float64
 16  longitude     9612 non-null   float64
 17  time          9612 non-null   int64
 18  zipcode       9605 non-null   object
dtypes: float64(4), int64(4), object(11)
memory usage: 1.5+ MB